image: "tbcp/python"

before_script:
    - make init-requirements

stages:
    - Static Analysis
    - Unit Testing
    - Building
    - Function Testing
    - Deployment
    - Release
    - Documenting

types:
    stage: Static Analysis
    script: [make types]
    allow_failure: true

linting:
    stage: Static Analysis
    script: [make lint]
    allow_failure: true

secure-code:
    stage: Static Analysis
    script: [make sast]
    allow_failure: false

unittests:
    stage: Unit Testing
    script:
        - mkdir -p /home/bootcamp/.kaggle/ && touch /home/bootcamp/.kaggle/kaggle.json
        - echo $CI_KAGGLE_JSON
        - echo $CI_KAGGLE_JSON > /home/bootcamp/.kaggle/kaggle.json
        - cat /home/bootcamp/.kaggle/kaggle.json
        - make unittests
        - sudo rm -rf /home/bootcamp/.kaggle/*

build:
    stage: Building
    script: [make build]
    artifacts:
        paths: [dist]
    only:
        - develop
        - main

deploy-develop:
    stage: Deployment
    script: [make deploy]
    artifacts:
        paths: [dist]
    only:
        - develop
        - main

deploy-release:
    stage: Release
    script: [make release]
    artifacts:
        paths: [dist]
    only:
        - main

docsify:
    stage: Documenting
    script:
        - rm -rf public && mkdir public
        - cp -r docs/* public/ && cp -r README.md public/_media/
    artifacts:
        paths: [public]
        expire_in: 10 seconds
